<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <log4net>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="%envFolderPath{ApplicationData}\GI-Subtitles\app.log"/>
      <appendToFile value="true"/>
      <datePattern value="yyyyMMdd-HH:mm:ss"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="1"/>
      <maximumFileSize value="10MB"/>
      <encoding value="utf-8" />
      <layout type="log4net.Layout.PatternLayout">
        <footer value=""/>
        <conversionPattern value="[%-5level] Time：%date Content：%message%newline"/>
      </layout>
    </appender>
    <root>
      <level value="ALL"/>
      <appender-ref ref="LogFileAppender"/>
    </root>
  </log4net>
</configuration>